<div class="container">
  <h1>Angular services</h1>
  <div class="card">
  <h3>Global service</h3>
    <h2>Counter: {{appCounterService.counter}}</h2>
    <button class="btn" (click)="appCounterService.increase()">Increase counter</button>
    <button class="btn" (click)="appCounterService.decrease()">Decrease counter</button>
  </div>
  <div class="card">
  <h3>Local service</h3>
    <h2>Counter: {{count}}</h2>
    <button class="btn" (click)="incr()">Increase counter</button>
    <button class="btn" (click)="decr()">Decrease counter</button>
  </div>
</div>
<app-counter></app-counter>
